/** antd 默认样式 **/
@import "~antd/dist/antd.less";

@import "./global.less";

#root {
  height: 100%;
  min-width: 1080px;
  min-height: 600px;
  position: relative;
  overflow: auto;
  // font-size: 16px;
}
